body {
    background-color: #009688;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#root > div {
    height: 100%;
}

.main {
    height: 100%;
}

.board-col {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 2px;
    transition: all .5s ease;
    position: relative;
}

.board-col:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #009688;
    z-index: -1;
}

.current-count {
    margin-left: 10px;
}

.color-player {
    content: "";
    position: relative;
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
}

.white .color-player {
    background-color: white;
}

.black .color-player {
    background-color: black;
}

.reset-button {
    color: #009688;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.reset-button:hover, .reset-button:focus {
    transform: scale(1.1);
}

.reset-button span {
    margin-left: 10px;
    font-weight: 100;
    letter-spacing: 2px;
}

/*loader*/
.loader-wrapper {
    margin: auto !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.5s ease;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.loader {
  margin: auto !important;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Alert Message*/
.alert-wrapper {
    margin: auto;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 280px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 0.5s ease;
}

.alert-wrapper i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) { 
    .actions-bar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        max-width: 400px;
    }

    .actions-bar > *, .data-player > * {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .board-col {
        width: 42px;
        height: 42px; 
    }

    .color-player {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-width: 360px) {
    .board-col {
        width: 32px;
        height: 32px; 
    }

    .color-player {
        width: 24px;
        height: 24px;
    }
}